<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>color tools example</title>
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <style>
        .el-descriptions__label {
            width: 32px;
            display: inline-block;
        }
    </style>
    <script src="//unpkg.com/vue@3"></script>
    <script src="//unpkg.com/element-plus"></script>
    <script src="../dist/index.js"></script>
</head>
<body>
<div id="app">
    <div :style="`height: 100px; background: ${color}`" ></div>
    <el-row :gutter="12">
        <el-col :span="12">
            <el-divider content-position="left">颜色值</el-divider>
            <el-input v-model="color" ></el-input>
        </el-col>
        <el-col :span="12">
            <el-divider content-position="left">透明度</el-divider>
            <el-input-number v-model="alpha" :step="0.1" :min="0" :max="1"></el-input-number>
        </el-col>
    </el-row>
    <el-divider content-position="left">转换值</el-divider>
    <el-descriptions title="" :column="4" :width="100">
        <el-descriptions-item align="left" label-align="right" label="rgb">{{ rgb }}</el-descriptions-item>
        <el-descriptions-item label="hex">{{ hex }}</el-descriptions-item>
        <el-descriptions-item label="hsv">{{ hsv }}</el-descriptions-item>
        <el-descriptions-item label="hsl">{{ hsl }}</el-descriptions-item>
        <el-descriptions-item label="rgba">{{ rgba }}</el-descriptions-item>
        <el-descriptions-item label="hexa">{{ hexa }}</el-descriptions-item>
        <el-descriptions-item label="hsva">{{ hsva }}</el-descriptions-item>
        <el-descriptions-item label="hsla">{{ hsla }}</el-descriptions-item>
    </el-descriptions>
</div>
<script>
  const tools = window.ColorTools || {}
  const App = {
    data() {
      return {
        alpha: 1,
        color: 'rgb(00, 85, 255)'
      };
    },
    computed: {
      value() {
        return tools.isColor(this.color) ? this.color : ''
      },
      rgb() {
        return tools.toRgb(this.value)
      },
      hex() {
        return tools.toHex(this.value)
      },
      hsv() {
        return tools.toHsv(this.value)
      },
      hsl() {
        return tools.toHsl(this.value)
      },
      rgba() {
        return tools.toRgba(this.value, this.alpha)
      },
      hexa() {
        return tools.toHexa(this.value, this.alpha)
      },
      hsva() {
        return tools.toHsva(this.value, this.alpha)
      },
      hsla() {
        return tools.toHsla(this.value, this.alpha)
      }
    }
  };
  const app = Vue.createApp(App);
  app.use(ElementPlus);
  app.mount('#app');
</script>
</body>
</html>
